import { ColorResolvable } from "discord.js";

export default {
    token: "YOUR_BOT_TOKEN",
    clientId: "YOUR_CLIENT_ID",
    developers: ["YOUR_DISCORD_USER_ID"],
    handlers: {
        commands: "./dist/commands",
        events: "./dist/events"
    },
    color: "Blue" as ColorResolvable
};
